[Unit]
Description=Set the system clock from the RTC 
DefaultDependencies=no
After=sysinit.target
Before=basic.target
Conflicts=shutdown.target
ConditionPathExists=/dev/rtc0

[Service]
ExecStart=/sbin/hwclock --hctosys
Type=oneshot

[Install]
WantedBy=sysinit.target

