modems:
  - name: "Huawei 4G modem"
    netdev: "eth1"
    vendor-product: "12d1:14db"
  - name: "Spark 3G modem"
    netdev: "usb0"
    vendor-product: "19d2:1405"
test-hosts:
  - "8.8.8.8"
  - "8.8.4.4"
test-interval: 5m
initial-on-time: 24h 
find-modem-time: 2m
connection-timeout: 1m
ping-wait-time: 30s
ping-retries: 5
request-on-time: 24h

# The pin to control the power to the USB plug (data modem)
{% set hw_rev = salt['grains.get']('cacophony:hw:rev') | int -%}
{%- if hw_rev >= 2 -%}
power-pin: "GPIO22"
{% else %}
power-pin: "GPIO18"
{%- endif %}


