[Unit]
Description=3G watchdog
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/3g-watchdog
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
