{% set mc = salt['grains.filter_by']({ 
  '*-test-*': {
    'version': 'RELEASE.2019-02-27T18-44-28Z',
  },
  '*-prod-*': {
    'version': 'RELEASE.2019-01-25T23-38-19Z',
  },
},
grain='id',
) %}

{% set minio = salt['grains.filter_by']({
  '*-test-*': {
    'version': 'RELEASE.2017-10-27T18-59-02Z',
  },
  '*-prod-*': {
    'version': 'RELEASE.2017-10-27T18-59-02Z',
  },
},
grain='id',
) %}

