{% set mc = salt['grains.filter_by']({ 
  '*-test-*': {
    'version': 'RELEASE.2019-02-27T18-44-28Z',
  },
  '*-prod-*': {
    'version': 'RELEASE.2019-02-27T18-44-28Z',
  },
},
grain='id',
) %}

{% set minio = salt['grains.filter_by']({
  '*-test-*': {
    'version': 'RELEASE.2019-03-06T22-47-10Z',
  },
  '*-prod-*': {
    'version': 'RELEASE.2019-03-06T22-47-10Z',
  },
},
grain='id',
) %}

