# Directory to place CPTV output files.
output-dir: "/var/spool/cptv"

# Minimum length to keep recording after motion is detected.
min-secs: 10

# Maximum total video length.
max-secs: 600

# Motion detection parameters
motion:
    # Movement below raw temperatures of this value will not activate
    # motion detection.
    temp-thresh: 3000

    # Minimum raw temperature difference between recent frames to
    # trigger motion detection.
    delta-thresh: 30

    # Number of pixels which must show delta-thresh change before
    # motion detection event will be triggered.
    count-thresh: 5

    # Suppress motion detection if more than this percentage of the
    # frame appears to change. This helps avoid false positives when
    # the camera is recalibrating.
    nonzero-max-percent: 50

{% if grains.get('cacophony', {}).get('recording-window') == 'night' %}
# Just record in the evening.
window-start: '18:00'
window-end: '08:00'
{% endif %}

