## influxdb password is managed in pillar
{% set telegraf = salt['grains.filter_by']({
  'server-prod-*': {
    'version': '1.10.0-1',
    'urls': '["https://influx.cacophony.org.nz"]',
    'database': '"server_metrics"',
    'username': '"servers"',
  },
  'server-test-*': {
    'version': '1.10.0-1',
    'urls': '["https://influx.cacophony.org.nz"]',
    'database': '"server_metrics"',
    'username': '"servers"',
  },
},
grain='id',
)%}
