{% set telegraf = salt['grains.filter_by']({
  'server-prod-*': {
    'dbserver': '10.0.0.3',
    'version': '1.10.0-1',
  },
  'server-test-*': {
    'dbserver': '10.138.112.159',
    'version': '1.10.0-1',
  },
},
grain='id',
)%}
