{% set telegraf = salt['grains.filter_by']({ 
  '*-minion': {
    'dbserver': '172.31.114.242',
    'version': '1.8.3-1',
  },
  'salt*': {
    'dbserver': '172.31.114.242',
    'version': '1.5.2-1',
  },
},
grain='id',
)%}
